body {
    background-color: rgba(0, 0, 50, 1);
    font-family: Verdana, "Courier New", "Lucida Console";
    font-size: 14px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

div, table, tr, td, th, h1, h2, h3, a, span, p, pre, fieldset, input, textarea, form, img, select {
    font-family: Verdana, "Courier New", "Lucida Console";
    font-size: 14px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    color: #FFF;
}

/* main */

div#main {
    height: 100vh; /* makes DIV to occupy full screen */
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    color: #FFF;
}

/* clock */

div#clock {
    right: 20px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

div.clock_hour {
    font-size: 180px;
    background-color: rgba(0, 0, 0, 1);
}

div.clock_date {
    font-size: 50px;
    background-color: rgba(0, 0, 0, 1);
}

span.clock_grey {
    color: #888;
    font-size: inherit;
}

/* meteo */

div#meteo {
    right: 660px;
    top: 20px;
    position: absolute;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

div#meteo_black {
    right: 0px;
    top: 420px;
    width: 600px;
    height: 100px;
    position: absolute;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 1);
}

div.dayForecast{
    float: left;
    margin: 10px 20px;
}

div.weekDay {
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

span.monthDay {
    display: block;
    font-size: 15px;
    color: #c0c0c0;
    font-weight: 700;
    text-transform: none;
}

p.conditions{
    font-size: 17px;
    color: #c0c0c0;
}

div.temperature{
    display: inline-block;
}

span.maxTemp{
    color: #EB1924;
    font-size: 18px;
    font-weight: 700;
}

span.lowTemp{
    color: #0076BA;
    font-size: 18px;
    font-weight: 700;
}

div.hourlyForecast{
    float: left;
}

div.timeDisplay{
    display: inline;
    margin-right: 50px;
}

span.hours{
    color: #EB1924;
    font-size: 18px;
    font-weight: 700;
}

span.minutes{
    color: #0076BA;
    font-size: 18px;
    font-weight: 700;
}
